body{
    background-image: url(../images/background.jpg);
}

#top-banner{
    background-image:url(../images/indianbanner.jpg);
    background-size:cover;
    background-position: center bottom;

}

#top-banner .container {
    background-color: rgba(255,255,255,0.5);

}

#header-section {
    color: white;
    background-color: orange;
}