body{
    background-image: url(../images/background.jpg);
}

#top-banner{
    background-image:url(../images/indianbanner.jpg);
    background-size:cover;
    background-position: center bottom;

}

#top-banner .container {
    background-color: rgba(255,255,255,0.5);
    font-family: 'Trade Winds';

<<<<<<< HEAD
}

#header-section {
    color: white;
    background-color: orange;
}
=======
>>>>>>> 6e4ade21dc159fcfd50bd2ddc295ec5c8362d0b3
